@tailwind base;
@tailwind components;
@tailwind utilities;

/*Default*/
*{
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height */
}
::-webkit-scrollbar {
  display: none; /* Hides the vertical scrollbar */
}

h1, h2, h3 {
  font-size: clamp(1.2rem, 5vw, 2.2rem); /* Responsive font size */
}

 /* Adjust the paragraph font size across sections */
 .detailed, #about-me p, #skills, #services p, #contact{
  font-size: clamp(1.1rem, 4vw, 1.2rem); /* Made slightly smaller */
}


button, input {
  letter-spacing: .6px;
  font-size: clamp(1rem, 3vw, 1.2rem); /* Responsive font size */
}

.logo-name {
  font-size: clamp(1rem, 5vw, 2.2rem); /* Responsive font size */
}

.job-desc {
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  font-size: clamp(1.5rem, 5vw, 2rem); /* Responsive font size */
}

.section-title {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.section-title h1{
  margin-bottom: 5px;
}

#copy-right{
  font-size: clamp(.8rem, .1vw, 1rem); /* Responsive font size */
  line-height: 1.3rem;
}

/**/

/* Homepage Styles */
.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background: #00bcd4;
  border-radius: 50%;
  visibility: hidden;
  animation: wave 1s;
}

@keyframes wave {
  0% { transform: translateX(-50%) scaleX(0.5); }
  50% { transform: translateX(-50%) scaleX(1.2); }
  100% { transform: translateX(-50%) scaleX(0.5); }
}

.nav-link.active::after {
  visibility: visible;
}


.image-fade {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
}

.icon-slider {
  overflow-x: hidden;
}

.icon-track {
  animation: slide-left 15s linear infinite; /* Reduced duration */
  gap: 30px;
}

.icon-track i:hover {
  transform: scale(1.2);
  color: #33A6B8;
  transition: transform 0.5s ease, color 0.5s ease;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%); /* Reduced animation distance */
  }
}


/* About Me Animations */
.nav-container{
  padding-left: 1.6rem;  /* Adds padding to the left side */
  padding-right: 1.6rem; /* Adds padding to the right side */
}


/* Apply equal margin to section*/
.home-info, .about-me, .skills, .portfolio{
  margin: 1.6rem;
}

#services{
  margin: 1.3rem;
}

/* TravelImage animation */
.slide-top {
  animation: slideTop 1s ease-in-out forwards;
  position: relative;
  opacity: 0;
}

@keyframes slideTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-bottom {
  animation: slideBottom 2s ease-in-out forwards;
  position: relative;
  opacity: 0;
}

@keyframes slideBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/*Services*/
h3.service-title {
  font-size: clamp(1rem, 4vw, 1.3rem); /* Adjusted for smaller devices */
  font-weight: 600;
  letter-spacing: 0.5px;
}


/* Media Queries */

/* For small screens: max-width 425px */
@media (max-width: 425px) {
  .name-desc {
    font-size: clamp(2.8rem, 4vw, 2.3rem); /* Adjusted for better scaling */
    line-height: 2.8rem;
    letter-spacing: 1px;
  }
  p .quo {
    font-size: clamp(1.3rem, 4.5vw, 1.6rem);
    margin-top: 2rem;
  }
}

/* For medium screens: min-width 426px to max-width 1023px */
@media (min-width: 426px) and (max-width: 1023px) {
  .name-desc {
    font-size: clamp(3rem, 4vw, 2.3rem); /* Adjusted for better scaling */
    line-height: 2.8rem;
    letter-spacing: 1px;
  }

  .icon-size {
    font-size: clamp(2rem, 4.5vw, 2.8rem);
  }

  p .quo {
    font-size: clamp(1.6rem, 4.5vw, 1.6rem);
    margin-top: 2rem;
  }

}

/* For large screens: min-width 1024px */
@media (min-width: 1024px) {

  .name-desc {
    font-size: clamp(3.5rem, 4vw, 2.3rem); /* Adjusted for better scaling */
    line-height: 2.8rem;
    letter-spacing: 1px;
  }
  .item-label {
    font-size: clamp(1rem, 4vw, 1.5rem);
  }
  p .quo{
    font-size: clamp(.18rem, 4.5vw, 1.6rem);
    margin-top: 2rem;
  }
}

/* Float animation for social icons */
.contact-section .social-icons a {
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

